$orange: #FF4F1E;
$offorange: #FFBB79;
$white: #FFFFFF;
$purple: #4D25B5;
$offblack: #450005;

html{
  
}

body{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Verdana', sans-serif;
  color: $offblack;
  background-color: $offorange;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li { 
        display: inline-block;
        background-color: $orange;
    }

    a {
        display: inline-block;
        padding: 1em 4em;
        text-align: center;
        text-decoration: none;
        border-bottom: 0.2em solid $offblack;
        width: 15%;
        color: white;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }
