body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Verdana', sans-serif;
  color: #450005;
  background-color: #FFBB79;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  background-color: #FF4F1E;
}

nav a {
  display: inline-block;
  padding: 1em 4em;
  text-align: center;
  text-decoration: none;
  border-bottom: 0.2em solid #450005;
  width: 15%;
  color: white;
}

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
